* {
    box-sizing: border-box;
}

.button {
    display: inline-block;
    padding: 1em;/*15px 25px;*/
    font-size: 35px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #e7e7e7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height: 10vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
}
.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* canvas{
    position: absolute;
    left: 33vw;
} */

form {
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin-top: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
form input {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #9c9c9c;
}
form button {
    background: lightgrey;
    padding: 0.7em;
    border: 0;
}
form button:hover {
    background: gold;
}

label {
    text-align: right;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
}

input {
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.5rem;
}
input:focus {
    outline: 3px solid gold;
}

@media (min-width: 400px) {
    form {
        overflow: hidden;
    }

    label {
        float: left;
        width: 200px;
    }

    input {
        float: left;
        width: calc(100% - 200px);
    }

    button {
        float: right;
        width: calc(100% - 200px);
    }
}
