body{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 100%;
    background: #0f212e
}


#start{
    position: absolute;
    top: 55vh;
    left: 3vw;
    width: 20vw;
    height: 25vh;
    border-radius: 2vmin;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07), 0 4px 6px rgba(0, 0, 0, 0.58);
    background: #00e602;
    /*font: 2vh Trebuchet MS, sans-serif;*/
    color: #064f08;
    font-size: 5vh;
    line-height: 6vw;
    font-weight: bold;
    font-family: Arial, Helvetica, Verdana, sans-serif; /* Гарнитура шрифта */


}

/*#start:hover {*/
/*    color: #ffffff;*/
/*    background: rgb(0, 255, 3);*/
/*}*/


#back{
    position: absolute;
    top: 1.5vh;
    left: 3vw;
    width: 10vw;
    height: 5vh;
    border-radius: 1vmin;
    /*box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07), 0 4px 6px rgba(0, 0, 0, 0.58);*/
    background: #d3e6f0;
    /*font: 2vh Trebuchet MS, sans-serif;*/
    color: #0f212e;
    font-size: 1.71vh;
    /*line-height: 3vw;*/
    font-weight: bold;
    font-family: Arial, Helvetica, Verdana, sans-serif; /* Гарнитура шрифта */


}

#bet_amount{
    position: absolute;
    color: #b0b9d2;
    top: 20vh;
    left: 3vw;
    font-size: 4.45vh;
    line-height: 6vw;
    font-weight: bold;
    font-family: Arial; /* Гарнитура шрифта */
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.3);


}


#rectangle {
    width: 100vw;
    height: 8vh;
    background: #1a2c38;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07), 0 4px 6px rgba(0, 0, 0, 0.39);
}


#rectangle0{
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), 0 4px 6px rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 12vh;
    left: 29vw;
    width: 10vw;
    height: 12vh;
    font: 2vh Trebuchet MS, sans-serif;
    color: white;
    font-size: 2vw;
    line-height: 12vh;
    background: #406c80;
    border-radius: 2vmin;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07), 0 4px 6px rgba(0, 0, 0, 0.09);
}

#rectangle15{
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), 0 4px 6px rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 26vh;
    left: 29vw;
    width: 10vw;
    height: 12vh;
    font: 2vh Trebuchet MS, sans-serif;
    color: white;
    font-size: 2vw;
    line-height: 12vh;
    background: #00e304;
    border-radius: 2vmin;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07), 0 4px 6px rgba(0, 0, 0, 0.09);
}

#rectanglebig{
    position: absolute;
    top: 8.3vh;
    width: 27.5vw;
    height: 92vh;
    background: #213743;
    /*border-radius: 1vmin;*/
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07), 0 4px 6px rgba(0, 0, 0, 0.09);

}

#rectangle17{
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), 0 4px 6px rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 40vh;
    left: 29vw;
    width: 10vw;
    height: 12vh;
    font: 2vh Trebuchet MS, sans-serif;
    color: white;
    font-size: 2vw;
    line-height: 12vh;
    background: #d4e7f1;
    border-radius: 2vmin;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07), 0 4px 6px rgba(0, 0, 0, 0.09);
}

#rectangle20{
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), 0 4px 6px rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 54vh;
    left: 29vw;
    width: 10vw;
    height: 12vh;
    font: 2vh Trebuchet MS, sans-serif;
    color: white;
    font-size: 2vw;
    line-height: 12vh;
    background: #fce805;
    border-radius: 2vmin;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07), 0 4px 6px rgba(0, 0, 0, 0.09);
}

#rectangle30{
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), 0 4px 6px rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 68vh;
    left: 29vw;
    width: 10vw;
    height: 12vh;
    font: 2vh Trebuchet MS, sans-serif;
    color: white;
    font-size: 2vw;
    line-height: 12vh;
    background: #7e46fc;
    border-radius: 2vmin;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07), 0 4px 6px rgba(0, 0, 0, 0.09);
}

#rectangle4{
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), 0 4px 6px rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 82vh;
    left: 29vw;
    width: 10vw;
    height: 12vh;
    font: 2vh Trebuchet MS, sans-serif;
    color: white;
    font-size: 2vw;
    line-height: 12vh;
    background: #fba22f;
    border-radius: 2vmin;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07), 0 4px 6px rgba(0, 0, 0, 0.09);
}





#rectangle2 {
    position: absolute;
    left:30vw;
    width: 40vw;
    height: 7vh;

    background: #0f212e;
    border-radius: 1vmin;
}


h2 {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), 0 4px 6px rgba(0, 0, 0, 0.62);
    color: #14222FFF;
    font: 2vh Arial;
    font-weight: bold;
    font-size: 5vh;
    position: absolute;
    left: 20vw;
    top	: 48vh;
    text-align: center;
    width	: 100%;

}

h3{
    color: #ffffff;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35), 0 4px 6px rgb(0, 0, 0);
    font: 1vmax Arial;
    font-weight: bold;
    font-size: 4vh;
    position: absolute;
    top	: -3vh;
    left: 0vw;
    text-align: center;
    width	: 100%;

}

h4{
    text: "SSSS";
    color: #ffffff;
    font: 1vmax Arial;
    font-weight: bold;
    font-size: 2vmax;
    position: absolute;
    position: absolute;
    top	: 30vh;
    left: -35vw;
    text-align: center;
    width	: 100%;

}



.quantity_inner * {
    box-sizing: border-box;
}
.quantity_inner {
    display: flex;
    position: absolute;
    top: 30vh;
    left: 2vw;
    /*justify-content: center;*/
}
.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .quantity {
    color: #ffffff;
    height: 5vw;
    width: 5vw;
    padding: 0;
    margin: 1vh 0.3vw;
    border-radius: 10px;
    border: 3px solid #2f4553;
    background: #0f212e;
    cursor: pointer;
    outline: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
}
.quantity_inner .quantity {
    width: 12vw;
    text-align: center;
    font-size: 2.7vw;
    color: #FFF;
    font-family:Menlo,Monaco,Consolas,"Courier New",monospace;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
}
.quantity_inner .bt_minus svg,
.quantity_inner .bt_plus svg {

    stroke: #ffffff;
    stroke-width: 3;
    margin: 0.1vh;
}
.quantity_inner .bt_minus:hover svg,
.quantity_inner .bt_plus:hover svg {
    stroke: #FFF;
}


h10{
    position: absolute;
    top: 1.3vw;
    left: 15vw;
    font-size: 2.5vw;
    color: #FFF;
    font-family:Menlo,Monaco,Consolas,"Courier New",monospace;

}
